body,html {
    margin:0;
    padding:0;
    font-family: 'Syne', sans-serif;
}

h3 {
    color: #8c8c8c;
    font-style: italic;
    margin-top: 0;
}

h1{
    margin-bottom: 0;
}

#body_div {
    margin: 0 auto;
    max-width: 50em;
    height: 100vh;
    padding: 10px;
    background-color: #e6f2ff;
}

#type_div {
    max-width: 30em;
    margin: 0 auto;
}